<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
<h1>Register</h1>
<p class="error" th:if="${error}">${error_text}</p>
<form method="post" th:action="@{/login.html}">
  <label for="username">Username</label>:
  <input autofocus="autofocus" id="username" name="username" type="text"/> <br/>
  <label for="password">Password</label>:
  <input id="password" name="password" type="password"/> <br/>
  <input type="submit" value="Log in"/>
</form>
</body>
</html>