<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pet-Project - Registration</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}"/>
  <link href="../static/styles/main.css" rel="stylesheet"/>
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div class="wrapper d-flex f-d-col jc-between ai-center" th:switch="${role}">
  <div th:replace="~{fragments/header.html}"></div>
  <div class="content d-flex f-d-col gap-2" th:case="*">
    <div class="title d-flex f-d-col gap-1">
      <div class="h1">Registration</div>
      <div class="d-flex f-d-row gap-05 ai-align opacity-75">
        <div class="p1">
          Already have account?
        </div>
        <a href="/login">Login</a>
      </div>
    </div>
    <div class="form d-flex gap-1 f-d-col jc-center ai-center">
      <div class="input w-100">
        <input placeholder="Last First Sur Names" type="text">
      </div>
      <div class="input w-100">
        <input placeholder="Login" type="text">
      </div>
      <div class="input w-100">
        <input placeholder="Email" type="email">
      </div>
      <div class="passwords d-flex f-d-row gap-1">
        <div class="input w-100">
          <input placeholder="Password" type="password">
        </div>
        <div class="input w-100">
          <input placeholder="Re-password" type="password">
        </div>
      </div>
      <div class="agreement w-100 d-flex f-d-row ai-center gap-05 jc-left">
        <input type="checkbox">
        <p>I agree with the user agreements</p>
      </div>
      <div class="submit-button">
        <input type="submit" value="Registration">
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/footer.html}"></div>
</div>
</body>
</html>