<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pet-Project - Tickets</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}"/>
  <link href="../static/styles/main.css" rel="stylesheet"/>
  <script th:src="@{/js/authenticationCheck.js}" type="text/javascript"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div class="wrapper d-flex f-d-col jc-between ai-center">
  <div th:replace="~{fragments/header.html}"></div>
  <div class="content w-100 h-100 d-flex f-d-row jc-top">
    <div class="tickets-block w-100 d-flex f-d-col">
      <div class="title h2 padding-2">
        Tickets
      </div>
      <div class="tickets table d-flex f-d-col margin-1">
        <div class="table-header d-flex f-d-row jc-between padding-1 gap-2">
          <div>Ticket Id</div>
          <div>Client Name</div>
          <div>Author Login</div>
          <div>Manager Login</div>
          <div>Ticket Status</div>
          <div>Title</div>
        </div>
        <div class="table-item d-flex f-d-row jc-between padding-1 gap-2"
             th:classappend="${iterStat.last} ? last : not-last"
             th:each="ticket, iterStat : ${tickets}"
             th:onclick="|window.location.href='/tickets?id=${ticket.ticketId}&page=${page}'|">
          <div th:text="${ticket.ticketId}"></div>
          <div th:text="${ticket.client.fullName}"></div>
          <div th:text="${ticket.author.login}"></div>
          <div th:text="${ticket.manager.login}"></div>
          <div th:text="${ticket.ticketStatus.name}"></div>
          <div th:text="${ticket.title}"></div>
        </div>
        <div class="pageable d-flex jc-center gap-1 margin-1">
          <div class="prev page b" th:classappend="${page} <= 0 ? disabled : not-disabled"
               th:onclick="|window.location.href='/tickets?page=${page-1}'|">
            <
          </div>
          <div class="page b" th:classappend="${page} != ${i} ? not-current : current" th:each="i : ${#numbers.sequence(0, pages - 1)}"
               th:onclick="|window.location.href='/tickets?page=${i}'|"
               th:text="${i}"
          ></div>
          <div class="next page b" th:classappend="${page} < ${pages-1} ? not-disabled : disabled"
               th:onclick="|window.location.href='/tickets?page=${page+1}'|">
            >
          </div>
        </div>
      </div>
    </div>
    <div class="ticket-info w-25 info-block d-flex f-d-col gap-1 margin-1 padding-1">
      <div class="title h2">
        Ticket info
      </div>
      <form action="#" class="info-block d-flex f-d-col gap-1" method="post"
            th:action="@{/updateTicketRequest?id=__${requestTicket.ticketId}__&page=__${page}__}"
            th:if="${requestTicket} != null">
        <div class="ticket-id d-flex f-d-row jc-between gap-1">
          <div class="name b">Ticket Id:</div>
          <div class="text" th:text="${requestTicket.ticketId}"></div>
        </div>
        <div class="client-full-name d-flex f-d-row jc-between gap-1">
          <div class="name b">Client:</div>
          <div class="text" th:text="${requestTicket.client.fullName}"></div>
        </div>
        <div class="author-login d-flex f-d-row jc-between gap-1">
          <div class="name b">Author Login:</div>
          <div class="text" th:text="${requestTicket.author.login}"></div>
        </div>
        <div class="manager-login d-flex f-d-row jc-between gap-1">
          <div class="name b">Manager Login:</div>
          <div class="text" th:text="${requestTicket.manager.login}"></div>
        </div>
        <div class="ticket-status d-flex f-d-row jc-between ai-center gap-1">
          <div class="name b">Ticket Status:</div>
          <select class="dropdown" id="ticketStatusId" name="ticketStatusId">
            <option th:each="ticketStatus : ${ticketStatuses}"
                    th:selected="${requestTicket.ticketStatus.ticketStatusId == ticketStatus.ticketStatusId}"
                    th:text="${ticketStatus.name}"
                    th:value="${ticketStatus.ticketStatusId}"
                    value="apple"></option>
          </select>
        </div>
        <div class="submit-button">
          <input type="submit" value="Update ticket">
        </div>
        <div class="button r1 c3 w-100">
          <a href="/">Delete ticket</a>
        </div>
      </form>
      <div class="d-flex jc-center ai-center w-100 h-100" th:unless="${requestTicket} != null">
        <div class="text h3">Nothing to show</div>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/footer.html}"></div>
</div>
</body>
</html>