<div class="header w-100 d-flex jc-between f-d-row gap-4">
  <div class="title d-flex f-d-row ai-center gap-1 padding-1">
    <div class="logo"></div>
    <div class="h2">Pet-Project</div>
  </div>
  <div class="nav-menu d-flex jc-between ai-center gap-1">
    <div class="nav-item d-flex">
      <a class="padding-1" href="/">Home</a>
    </div>
    <div class="nav-item d-flex padding-1">
      <a class="padding-1" href="/clients">Clients</a>
    </div>
    <div class="nav-item d-flex padding-1">
      <a class="padding-1" href="/tickets">Tickets</a>
    </div>
    <div class="nav-item d-flex padding-1">
      <a class="padding-1" href="/users">Users</a>
    </div>
    <div class="nav-item d-flex padding-1">
      <a class="padding-1" href="/personal-account">Personal Account</a>
    </div>
  </div>
  <div class="form d-flex">
    <div class="button margin-2">
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>